/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ubuntu&display=swap');


/* remove default styles */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

/* base styles */
body {
    color: #252525;
    font-family: Ubuntu, sans-serif;
}
